body {
}

/* .block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25px;
} */

.search-form-block {
  display: flex;
  justify-content: center;
}

.search-form {
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.form-control {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;

  padding-left: 15px;
}

.form-control:hover,
.form-control:focus {
  border: 1px solid #000;
}

[type='submit'] {
  border-radius: 8px;
  border-color: #4e75ff;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background-color: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  margin-left: 15px;
  cursor: pointer;
  border-style: hidden;
}

[type='submit']:hover,
[type='submit']:focus {
  background-color: #6c8cff;
  border-color: #6c8cff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 24px;
  width: 1128px;
  margin: auto;
  margin-top: 32px;
  padding: 0;
  background-color: #fff;
}

.gallery-item {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  width: calc((100% - 48px) / 3);
  max-width: 360px;
  max-height: 200px;
  overflow: hidden;
  z-index: 2;
}

.gallery-item:hover {
  transform: scale(1.04);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 2;
}

.gallery-image {
  object-fit: cover;
}

.gallery-image:hover {
  cursor: pointer;
}

.image-stats-block {
  position: absolute;
  border-bottom: 1px solid #808080;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
  width: 360px;
  height: 48px;
  background: #fff;
  bottom: 0;
  z-index: 3;
}

.image-stats-list {
  display: flex;
  gap: 24px;
}

.image-stats-item {
  display: flex;
}

.image-stats-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.image-stats-value {
  font-weight: 400;
  line-height: 2;
}

.modal {
  width: 1112px;
  height: 640px;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.modal-image {
  width: 1112px;
  height: 640px;
}
